<main>
    <div class="product-table">
        <h2>Lista de productos</h2>
        <table id="productTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody id="productTableBody">
                <!-- Acá se mostrarán los productos -->
            </tbody>
        </table>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="../../src/public/js/index.js"></script>
</main>