<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="./img/favicon.png">
    <link rel="mask-icon" href="./img/favicon.png" color="#4d7be6">
    <link rel="apple-touch-icon" href=".img/favicon.png">
    <title>Coder</title>
    <link rel="stylesheet" href="./styles/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    
  </head>

  <body class="bg-white font-sans">
    {{>Navbar}}
    
    {{{body}}}
  </body>

</html>